* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #e6e9f0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0c0820;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#appointmentsList {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#appointmentsList p {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

#appointmentsList div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#appointmentsList div:last-child {
    border-bottom: none;
}

#appointmentsList strong {
    color: #4CAF50;
    font-size: 16px;
}

button{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 19vh;
    height: 4vh;
    width: 20vh;
    font-size: 2vh;
    background: steelblue;
    color: white;
    border-radius: 20px;
    border: 1px solid #a0d7ec;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background: #d4d4d4;
    color:steelblue;
}
